* {
  font-size: 125%;
  /* border: solid black; */
  /* border-radius: 10px; */
  /* margin: 5px; */
  /* padding: 10px; */
}

body {
  font-family: "Nanum Brush Script", cursive;
  padding: 40px;
  border: solid black;
  margin: 20px;
}

nav {
  background-color: rebeccapurple;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 15px;
  color: white;
  padding: 5px;
  margin: 10px;
}

.modal {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* opacity: 40%; */
}

.modal-content {
  background-color: darksalmon;
  margin: 40px auto;
  padding: 15px;
  width: 75%;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
}

.modalPic {
  background-color: aliceblue;
  width: 97%;
  height: 97%;
}

main {
  /* border: solid red; */
  display: flex;
  padding: 10px;
  flex-flow: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  column-gap: 12px;
}

.message {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px grey;
  padding: 0.3rem;
  width: 14rem;
  height: 8rem;
  position: relative;
  background-color: cornsilk;
}

.message:hover {
  transform: scale(1.02);
}

img {
  border-radius: 10px;
  width: 14rem;
  height: 8rem;
}

/* .clicked {
  background-color: yellow;
  z-index: 1;
  box-shadow: 2px 2px 2px grey;
  position: absolute;
  transform: scale(3);
  transition-duration: 500ms;
} */

footer {
  border-top: 2px solid black;
  padding: 10px;
}
